.my-skills {
  gap: 9px;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem 5rem;
  grid-template-columns: 16rem 16rem 16rem;
  padding: 0 9px;
  box-sizing: border-box;
  justify-content: center;
}

.my-skills p {
  text-align: center;
}

.my-skills img {
  width: 50px; 
  transition-duration: 300ms;
}

.my-skills img:hover {
  transform: scale(1.2);
}

a.skill-link {
  align-items: center;
  display: inline-flex;
  text-decoration: none;

}

a.skill-link p {
  margin-left: 5px;
}
.skills-desc{
  display: flex;
  /* position: absolute; */
  /* left: 30%; */
  /* top: 50%; */
  transform: translateY(-50%);
  /* width: 100%; */
  // width: 50%;
  margin-left: 9rem;
}

.container.skills-page h1 {
  font-size: 55px;
}